<body>
  <nav>
    <div>
      <ul>
        <li>
          <a href="#main"><h1>SHAHAK<b>MAIMON</b><span style="font-size:10px; color: gray"> .com</span></h1></a>
        </li>
      </ul>
      <ul id="ul-nav-right">
        <li><a href="#timeline">TIMELINE</a></li>
        <li><a href="#projects">PROJECTS</a></li>
      </ul>
    </div>
  </nav>

  <div id="hero">
    <div id="white-div">
      <h1>I'M SHAHAK MAIMON</h1>
      <ul>
        <li>FULL-STACK DEVELOPER</li>
        <li>MATH TEACHER</li>
        <li>ENTREPRENEUR</li>
      </ul>
      <button>CONTACT ME</button>
      <img src="https://i.imgur.com/E5ekixN.png" alt="" id="shahak-pic">
    </div>
  </div>

  <div id="timeline">
    <h1 class="title">TIMELINE</h1>
    <br><br>
    <div id="timeline-svg">
			<div class="timeline-item">

        <span class="year-right">
          <h1>
            June, 2013
          </h1>
        </span>

				<div class="timeline-icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</div>
				<div class="timeline-content">
					<h2>HIGH SCHOOL GRADUATION</h2>
					<p>
						Major in CS, Designing Systems Programming and Chemistry.
            <br><br>
            Unweighted GPA Overall: 3.77
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>

			<div class="timeline-item">

        <span class="year-left">
          <h1>
            July, 2013
          </h1>
        </span>

				<div class="timeline-icon">
          <i class="fa fa-binoculars" aria-hidden="true"></i>
				</div>
				<div class="timeline-content right">
					<h2>JOINING THE IDF</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>

			<div class="timeline-item">

        <span class="year-right">
          <h1>
            July, 2016
          </h1>
        </span>

				<div class="timeline-icon">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</div>
				<div class="timeline-content">
					<h2>IDF GRADUATION</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
					</p>
					<a href="#" class="btn">button</a>
				</div>
			</div>
		</div>
  </div>

  <div id="projects">
    <h1 class="title">PROJECTS</h1>
    <div class="projects">
      <div class="project">

      </div>
      <div class="project">

      </div>
      <div class="project">

      </div>
    </div>
  </div>
</body>
